.current {
    color: $highlight !important;
    font-weight: bold;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-bottom: 3px #EDC3B2 solid;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: $offwhite;
}


