@import 'config';
@import 'menu';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    &:focus {
        outline: none;
    }
 }

.jumbotron {
    background: url(/image/jumbotron.jpg) no-repeat center center fixed;
}

