<footer class="d-flex justify-content-center">
    <div class="copyright">&copy; Yubin Kim</div>
</footer>


<script type="text/javascript" src="/vendors/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendors/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/vendors/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>


</html>