<% include ./partials/header.ejs %>

<div class="section" id="top">
  <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center">
    <div class="container fadeinright">
      <h1 class="display-4">Hi, I'm <span class="name">Yubin Kim</span>,</h1>
      <h2 class="display-4">Web Developer.</h2>
      <p class="lead">Welcome to my Portfolio Page.</p>
    </div>
  </div>
</div>

<div class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="profile-img">
        <img src="/image/profile.JPG" alt="..." class="img-thumbnail">
      </div>
      <h1 class="text-dark about-title">About <span class="name">ME</span></h1>
      <p class="description fadeinright-animate">Hi, my name is <span class="name">Yubin Kim</span>, Web developer based in <span class="font-weight-bold">Portlnad, OR.</span> I have passion for cultivating visually appealing web products with clean and solid code. I understand core back-end technologies and have experience building full stack apps with Node-express and MongoDB. I'm a frendly person and a team player, seeking to improve my skills and help other talented developers in a team environment.</p>
    </div>
    
    <h2 class="title text-dark text-right">Main Skills</h2>
    
    <div class="skills row justify-content-between">
      <div class="icons d-flex flex-column text-center fadeinup-animate"><i class="fab fa-html5 fa-4x"></i>HTML5</div>
      <div class="icons d-flex flex-column text-center fadeinup-animate"><i class="fab fa-css3-alt fa-4x"></i>CSS3</div>
      <div class="icons d-flex flex-column text-center fadeinup-animate"><i class="fab fa-js fa-4x"></i>JavaScript</div>
      <div class="icons d-flex flex-column text-center fadeinup-animate"><i class="fab fa-node fa-4x"></i>Node.js</div>
      <div class="icons d-flex flex-column text-center fadeinup-animate"><i class="fas fa-terminal fa-4x"></i>Command line</div>
    </div>
  </div>
</div>

<div class="section" id="work">
  <div class="container">
    <h1>Work</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card grill">
          <div class="card-body">
            <img class="card-img-top" src="/image/tequila_grill_md.png">
            <h5 class="card-title text-center">Restaurant</h5>
            <ul class="d-flex flex-column card-list container">
              <h5 class="card-title text-left">Skills Used :</h5>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JQuery</li>
              <li>Node.js</li>
              <li>Express/ejs</li>
            </ul>
            <div class="card-btn">
              <a href="https://calm-headland-56124.herokuapp.com/" class="btn btn-primary text-center"><i class="far fa-window-restore"></i> View</a>
              <a href="https://github.com/yubind/Tequila-grill" class="btn btn-primary text-center"><i class="fab fa-github-alt"></i> Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card heartly">
          <div class="card-body">
            <img class="card-img-top" src="/image/heartly.png">
            <h5 class="card-title text-center">Start-up</h5>
            <ul class="d-flex flex-column card-list container">
              <h5 class="card-title text-left">Skills Used :</h5>
              <li>HTML5</li>
              <li>SASS</li>
              <li>JQuery</li>
              <li>Waypoints.js</li>
              <li>Node.js</li>
              <li>Express/ejs</li>
            </ul>
            <div class="card-btn">
              <a href="http://www.theheartly.com/" class="btn btn-primary text-center"><i class="far fa-window-restore"></i> View</a>
              <a href="https://github.com/yubind/Heartly" class="btn btn-primary text-center"><i class="fab fa-github-alt"></i> Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card blogapp">
          <div class="card-body">
            <img class="card-img-top" src="/image/blog_app.png">
            <h5 class="card-title text-center">Blog App</h5>
            <ul class="d-flex flex-column card-list container">
              <h5 class="card-title text-left">Skills Used :</h5>
              <li>HTML5</li>
              <li>SASS</li>
              <li>Semantic UI</li>
              <li>Node.js</li>
              <li>Express/ejs</li>
              <li>MongoDB/Mongoose</li>
            </ul>
            <div class="card-btn">
              <a href="https://warm-hamlet-89189.herokuapp.com/blogs" class="btn btn-primary text-center"><i class="far fa-window-restore"></i> View</a>
              <a href="https://github.com/yubind/Blog_app" class="btn btn-primary text-center"><i class="fab fa-github-alt"></i> Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="container">
    <h1 class="title">Get in touch</h1>
    <p>If you want to know more, please feel free to contact me.</p>
    
    <div class="container contact-btn-group d-flex flex-column justify-content-center text-center">
        <div class="contact-btn fadeinright-animate email">
          <i class="fas fa-envelope"></i>yubind91@gmail.com
        </div>
        <div class="contact-btn fadeinright-animate twitter">
          <a href="https://www.linkedin.com/in/yubin-kim-space/"><i class="fab fa-linkedin"></i>LinkedIn</a>
        </div>
        <div class="contact-btn fadeinright-animate github">
          <a href="https://github.com/yubind"><i class="fab fa-github-alt"></i></i>Github</a>
        </div>
        <div class="contact-btn fadeinright-animate fb">
          <a href="https://www.facebook.com/yubinkim91"><i class="fab fa-facebook-f"></i></i>Facebook</a>
        </div>
      </div>
  </div>
</div>




<% include ./partials/footer.ejs %>